.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 90px;
}

.Name {
  cursor: pointer;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

.CTAs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Menu {
  display: none;
}

@media (max-width: 789px) {
  .CTAs {
    display: none;
  }
  .Name {
    font-size: 1.5em;
  }
  .Navbar {
    margin: 15px 40px;
  }
  .links {
    display: block;
  }
  .Menu {
    display: block;
    align-self: center;
  }
}
