.Faqs {
  margin: 150px 60px 50px 60px;
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Single-Item .MuiButtonBase-root {
  background-color: #f8f4ff !important;
  border-radius: 8px !important;
  margin: 20px 0px;
}

.Single-Item .MuiPaper-elevation1 {
  box-shadow: none;
}

.Single-Item .MuiTypography-body1 {
  font-size: 1.15em;
}

.TitleFaqs {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 789px) {
  .Single-Item .MuiAccordionSummary-root {
    width: 100%;
  }
  .Single-Item .MuiTypography-body1 {
    font-size: 1em;
  }
}
