.Section6 {
  margin: 150px 60px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HealthTitle {
  text-align: center;
  font-size: 3em;
  margin-bottom: 60px;
}
.TipsWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.Single {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 50px;
}
.Date {
  color: #9e9e9e;
  margin: 16px 0px;
}
.TipTitle {
  margin: 8px 0px;
  font-size: 1.75em;
  font-weight: 600;
}
.TipSummary {
  margin: 8px 0px;
  font-size: 1em;
}

@media (max-width: 789px) {
  .HealthTitle {
    font-size: 2em;
    margin-bottom: 30px;
  }
  .Single {
    margin: 30px;
    align-items: center;
    width: auto;
  }
  .Date {
    align-self: self-start;
    margin: 8px 0px;
  }
}
