.Section8 {
  margin: 70px 60px 0px 60px;
  font-family: 'Open Sans', sans-serif;
  display: flex;

  align-items: center;
}
.Div1 {
  margin-left: 60px;
}
.Div2 {
}
.TitleBookings {
  font-size: 3em;
  margin-bottom: 60px;
}

@media (max-width: 789px) {
  .Section8 {
    flex-direction: column;
  }
  .Div1 {
    margin-left: 0px;
    align-self: center;
    text-align: center;
  }
  .TitleBookings {
    font-size: 1.75em;
    text-align: start;
  }

  .Mobiles {
    width: 500px;
  }
}
